body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.project-image,
.experience-image,
.skill-badge,
.hobby-badge {
    margin: 10px;
}

.view-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-top: 5px;
}

.skills-hobbies {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-images-container {
    display: flex;
    justify-content: center;
}

.project-image {
    text-align: center;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.view-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-top: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.view-button:hover {
    background-color: orange;
}